*,
*::before,
*::after {
  box-sizing: border-box;
  @include transition (2000);
}

body {
  width: 100%;
  font-family: $font-nanum;
  overflow-x: hidden !important;
  @include mp-(0);
  @include transition(2000);
}

a {
  font-family: $font-nanum;
  text-decoration: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p {
  font-family: $font-nanum;
  margin: 0;
  padding: 0;
}



input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}